body {
  background-color: #fff;
}

.my-wishlist,
.p-wishlist,
.start-shopping {
  font-size: 14px;
  text-decoration: none;
}

.my-wishlist,
.container-wishlist,
.text-wishlist,
.btn-div-wishlist {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.my-wishlist {
  height: 80px;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  border: none;
  padding-left: 16px;
  font-weight: 600;
  color: #1b4b66;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.container-wishlist {
  height: auto;
  flex-direction: column;
  gap: 15px;
  padding-top: 81px;
  flex-wrap: wrap;
}

.text-wishlist {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: #13101e;
}

.h1-wishlist,
.h2-wishlist {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 13px;
}

.p-wishlist {
  text-align: center;
  font-weight: 500;
}

.btn-div-wishlist {
  margin-top: 200px;
  width: 100%;
  justify-content: center;
}

.start-shopping {
  height: 44px;
  width: 91%;
  max-width: 328px;
  background-color: #1b4b66;
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}

.products-wishlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-left: 25px;
}

.wishlist-product {
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 23px;
  margin-bottom: 20px;
}

.start-shopping:hover {
  transform: translateY(2px);
  background-color: #173d53;
}

@media screen and (max-width: 900px) {
  .wrapper-wishlist {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #FFFFFF;
  }
}


.products-wishlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-left: 25px;
}

.wishlist-product {
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 23px;
  margin-bottom: 20px;
}

.wishlist-product img {
  border-radius: 14px;
  height: 192px;
  width: 100%;
  object-fit: cover;
  box-shadow: black 0px 11px 49px -31px;
}

.wishlist-product-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.wishlist-product-name {
  font-size: 16px;
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.heart-button img {
  width: 20px;
  height: 20px;
}

.wishlist-product-button button {
  border-radius: 8px;
  border: 2px solid var(--primary, #1B4B66);
  background: var(--bright, #FFF);
  width: 100%;
  color: #1b4b66;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin-top: 5px;
}

.container-wishlist.empty {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.img-wishlist.empty {
  margin: 0;
}

.text-wishlist.empty {
  text-align: center;
}

.p-wishlist.empty {
  margin: 10px 0;
}

.wishlist-btn-addBag button {
  width: 175px;
  height: 36px;
  margin-top: 6px;
  display: flex;
  border-radius: 8px;
  border: 2px solid #1B4B66;
  background: #FFF;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1B4B66;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.wishlist-btn-addBag img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 1280px) {
  .wishlist-product {
    width: calc(19.33% - 20px);
  }
}

@media screen and (max-width: 876px) {
  .wishlist-product {
    width: calc(33.33% - 20px);
  }
}


.wrapper-wishlist {
  height: 72vh;
  width: 70%;
}

@media screen and (max-width: 700px) {
  .wishlist-product {
    width: calc(30% - 20px);
  }

  .products-wishlist {
    margin-left: 0;
    gap: 0;
  }

  .wishlist-btn-addBag button {
    width: 145px;
  }

  .wishlist-product img {
    max-height: 150px;
  }

  .wishlist-product-name {
    font-size: 15px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 600px) {
  .wishlist-product {
    width: calc(43% - 0px);
    gap: 0;
    margin-left: 0;
  }

  .wishlist-btn-addBag button {
    width: 131px;
  }
}

@media screen and (max-width: 360px) {
  .wishlist-product {
    width: calc(43% - 0px);
    gap: 0;
    margin-left: 0;
  }

  .wishlist-btn-addBag button {
    width: 131px;
  }
}

.search_product {
  width: 39%;
}