body {
  background-color: #fff;
}

.my-wishlist,
.p-wishlist,
.start-shopping {
  font-size: 14px;
  text-decoration: none;
}

.my-wishlist,
.container-wishlist,
.text-wishlist,
.btn-div-wishlist {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.my-wishlist {
  height: 80px;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  border: none;
  padding-left: 16px;
  font-weight: 600;
  color: #1b4b66;
  flex-wrap: wrap;
}

.container-wishlist {
  height: 654px;
  flex-direction: column;
  gap: 15px;
  padding-top: 81px;
  flex-wrap: wrap;
}

.text-wishlist {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: #13101e;
}

.h1-wishlist,
.h2-wishlist {
  font-size: 28px;
  font-weight: 700;
  padding-top: 13px;
}

.p-wishlist {
  text-align: center;
  font-weight: 500;
}

.btn-div-wishlist {
  margin-top: 200px;
  width: 100%;
  justify-content: center;
}

.start-shopping {
  height: 44px;
  width: 91%;
  max-width: 328px;
  background-color: #1b4b66;
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
}

.start-shopping:hover {
  transform: translateY(2px);
  background-color: #173d53;
}

.wishlist-product-details,
.wishlist-product img {
  border-radius: 14px;
  width: 25%;
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px); 
}

.products-wishlist {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 20px;
}

.wishlist-product {
  padding-left: 25px;
  width: calc(50% - 10px);
}

.wishlist-product img {
  height: 300px;
  object-fit: cover;
}
