.header {
    color: var(--primary, #1B4B66);
    width: 100%;
    height: 5rem;
    position: fixed top;
}
.header-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    flex-direction: row;
    padding: 2.44rem 1rem 0 1rem;
    justify-content: space-between;
}
.header-desktop {
    display: none;
}
.header_menu {
    display: flex;
    gap: 1.25rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
}

.header-btn-menu{
    background-color: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}

.header_icons {
    display: flex;
    gap: 1.5rem;
}
.icon {
    width: 1.5rem;
    height: 1.5rem;
}
.change_to_blue {
    filter: brightness(0) invert(0);
    filter: invert(22%) sepia(53%) saturate(715%) hue-rotate(158deg) brightness(91%) contrast(87%);
}
.button_icon {
    border: none;
    background: transparent;
    width: fit-content;
    height: 100%;
}
.button_icon:focus-visible {
    border-radius: 2px;
    outline: 2px solid #1B4B66;
    outline-offset: 0.001px;
}
.button_hover:hover {
    background-color: #1B4B66;
}
.button_hover img:hover {
    filter: brightness(0) invert(1);
}

.header_icons button{
    border: none;
    background-color: transparent;
    height: 24px;
}
.header_icons button:focus-visible{
    outline: 3px solid #1B4B66;
    outline-offset: 3px;
    border-radius: 25px;
}

.bag_modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: var(--dark, rgba(19, 16, 30, 0.5));
}
.bag_background {
    display: flex;
    flex-direction: column;
    position: absolute;
    row-gap: 1.5rem;
    top: 5rem;
    right: 0.62rem;
    width: 24.625rem;
    height: 43.5625rem;
    background: var(--bright, #FFF);
}
.bag_return {
    display: flex;
    background-color: transparent;
    border-radius: 2px;
    border: none;
    width: fit-content;
    height: 1.625rem;
    gap: 1.25rem;
    margin: 1.75rem 0 0.94rem 1.72rem;
    align-items: center;
    
    /* Fonte */
    color: var(--primary, #1B4B66);
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.625rem;
}
.bag_return:focus-visible{
    outline: 3px solid #1B4B66;
    outline-offset: 3px;
    border-radius: 25px;
}
.bag_all_products {
    display: flex;
    flex-direction: column;
    height: 18rem;
    overflow: scroll;
}
.bag_all_products::-webkit-scrollbar {
    display: none;
}
.bag_products {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    padding-left: 0.69rem;
    height: 7.125rem;
}
.bag_product_brand {
    color: var(--type-high-emphasis, #171520);

    /* Paragraph/M-16px */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
}
.bag_product_name {
    color: var(--type-low-emphasis, #626262);

    /* Paragraph/R-16px */
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
.bag_product_image {
    display: flex;
    width: 4.6875rem;
    height: 5rem;
    flex-shrink: 0;
}
.bag_product_info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    max-width: 13.75rem;
}
.bag_quantity {
    display: flex;
    width: fit-content;
    height: 30px;
    column-gap: 0.56rem;
    border-radius: 0.25rem;
    border: 1px solid var(--primary, #1B4B66);
    align-items: center;
    justify-content: center;
}
.bag_products_remove {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: end;
}
.bag_bar {
    margin: 1.5rem 0.5rem 1.5rem 0.87rem;
}
.bag_bar2 {
    margin: 0.75rem 0.5rem 0 0.87rem;
}

@media screen and (min-width:360px) {
    
}

@media screen and (min-width: 800px) {
    .header-mobile {
        display: none;
    }
    .header_icons button:focus-visible{
        outline: 3px solid black;
        outline-offset: 3px;
        border-radius: 25px;
    }
    .header-desktop {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        align-items: center;
        padding: 0 1.25rem;
        justify-content: space-between;
    }
    .header_icons {
        align-items: center;
        padding-left: 1.5rem;
    }
    .flex {
        display: flex;
    }
    .search-bar {
        display: flex;
        width: 120px;
        height: 2.75rem;
        flex-shrink: 0;
        border-radius: 0.25rem;
        background: var(--grey, #F1F1F1);
        padding-right: 15px;
    }
    .search-bar img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.63rem 0.5rem;
    }
    .search-bar input {
        width: 100%;
        border: none;
        background-color: transparent;
    }
    .search-bar input:focus {
        outline: none;
    }
    .nav-category {
        display: flex;
        align-items: center;
    }
    .nav-category-text {
        display: flex;
        gap: 1.25rem;
        color: var(--type-high-emphasis, #171520);
        text-align: center;
        padding-left: 2rem;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 100;
        line-height: 1.125rem;
    }
    .logo {
        width: 6.75rem;
        height: 1.375rem;
    }
}

@media screen and (min-width:1100px) {
    .search-bar {
        width: 22.625rem;
    }
}

@media screen and (min-width:1280px) {
    
}
.stop-scrolling {
    overflow: hidden;
}