* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 300px) {
  .more-about {
    width: 100%;
    height: 48px;
    background-color: #fff;
    padding: 15px 15px 0;
    color: #626262;
  }

  .container-footer {
    width: 100%;
    height: 578px;
    background-color: #1b4b66;
  }
}

@media screen and (min-width: 900px) {
  .more-about {
    display: none;
  }

  .container-footer {
    height: 342px;
  }
}
