.signup-container {

    height: 100vh;
    background: linear-gradient(0deg, rgb(22, 60, 80), rgb(103, 140, 160));
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container-input {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container-input input {
    width: 50%;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    padding-left: 10px;
}

.signup-img-Width{
    max-width: 100px;
    max-height: 100px;
}

#imgNone{
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    cursor: pointer;
}

#imgNone:hover{
    border:2px solid  #111;
}

input[type='file'] {
    display: none;
}

input[type='date']{
    cursor: text;
}

input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
}