* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}