* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

@keyframes open {
    from {
      transform: translateX(-300px);
    }
  
    to {
      transform: translateX(0px);
    }
  }
  
  @keyframes close {
    from {
      transform: translateX(0px);
    }
  
    to {
      transform: translateX(-300px);
    }
  }